* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.page-container,
.calculator,
.calculator-container,
.result-container,
.keypad,
.keypad-column,
#result-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator-container {
    margin: 50px;
}

.page-container,
.calculator,
.calculator-container {
    gap: 40px;
}

.page-container {
    margin-top: 50px;
}

.result-container,
#result-text {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.keypad {
    flex-direction: row;
    align-items: flex-start;
}

.calculator {
    flex-direction: column;
}

.calculator {
    border: 1px solid black;
    
}


.button {
    width: 70px;
    height: 70px;
}

