* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.calculator {
    border: 1px solid black;
}

.page-container,
.calculator,
.result-container,
.keypad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator {
    flex-direction: column;
}

